@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
}

img {
    max-height: 300px;
    max-width: auto;
}

.main, .header {
    background-color: #1F2937;
    color:white;
    padding:20px 0;
    display: flex;
}

.main {
    justify-content: center;
}

.header {
    justify-content: space-between;
    padding-bottom:60px;
    font-size: 24px;
    color:#F9FAF8;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: bold;
}

ul {
    list-style: none;
    display:flex;
    gap:30px;
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight:bold;
    color:#F9FAF8;
    width:500px;
}

.front {
    padding-left:100px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center
}

.firstsignup {
    height:30px;
    width: 100px;
    margin-top: 10px;
    font-weight: bold;
    background-color: #3883F6;
    color:white;
    border:0;
    border-radius: 6px;
}

.subtext {
    display:flex;
    flex-wrap: wrap;
    max-width: 450px;
    font-size: 18px;
    color: #E5E7EB;
}

.pics {
    display:flex;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.image1, .image2, .image3, .image4 {
    width: 220px;
    height: 150px;
    text-align: center;
    border: 4px solid rgb(36, 105, 209);
    border-radius: 20px;
    margin-top: -4px;
    margin-left: -4px;
}

.middle {
    font-size: 36px;
    font-weight:1000;
    color:#1F2937;
    text-align: center;
    padding:40px;
    margin-bottom:17px;
}

.inspiration {
    background-color: #E5E7EB;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}

.quote {
    font-size: 36px;
    color: #1F2937;

    font-style:italic;

}

.author {
    font-size: 20px;
    padding-left: 500px;
    font-weight: bold;
    margin-top: 8px;
}

.container {
    display: flex;
    background-color: #3883F6;
    margin: 80px auto;
    color: white;
    padding:40px 120px;
    border-radius: 9px;
    justify-content:space-between;
    width: 1200px;
    align-items: center;
}

.call {
    font-weight: bold;
    font-size: 24px;
}

.secondsignup {
    width: 120px;
    height:30px;
    background-color: #3883F6;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}

